.ulnavigation{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #dfd0bd;
    height: 10vh;
}

.navigationbar{
    background: black;
    width: 100%;
}
.testLogo{
    font-size: 10rem;
    font-weight: bolder;
    color: #ffef0f;
}
.testSecondLogo{
    font-size: 2rem;
    font-weight: bolder;
    position: relative;
    top: -12rem;
    left: 6rem;
}
.ulnavigation > li > a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 800;
    color: #6d6e70;
    
}

.ulnavigation > li > a:hover{
    color: #e8eb46;
}
.classActiveTop {
    color: black !important;
}

.ulnavigation{
    margin: 0;
}
.humberIconTopbar{
    color: rgb(128, 123, 123);
}
.btnIconWarper{
    padding: 0 !important;
    display: none !important;
}
@media only screen and (max-width: 1024px){
    .ulnavigation{
        display: flex;
        flex-direction: column;
        height: auto !important;
        padding: 0;
    }
    .btnIconWarper{
        display: block !important;
        padding: 0 !important;
    }
    .ulnavigation > li {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }
    .ulnavigation > li:hover{
        background: yellow;
    }
    .ulnavigation > li > a:hover{
        color: black;
    }
}
@media screen and (max-width: 600px){
    .testLogo{
        font-size: 7.5rem;
    }
    .testSecondLogo{
        font-size: 2rem;
        top: -10rem;
    }

}