.topbarimgcontainer{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../Assets/assets/LogoAction.png"),url("../../Assets/assets/fond02.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 12vw,cover;
    background-position: 50% 12%, left top;
    
}

.textJauneAction{
    color: #ffef0f !important;
    font-weight: bolder;
    font-size: 3rem;
}
.textNoireAction{
    color:#0c14f5 !important;
    font-weight: bolder;
    font-size: 3.7rem;
}
.firtTexth1{
    text-align: center;
    margin-top: 0;
    color: white;
    font-weight: 900;
    font-size: 2.3rem;
    vertical-align:middle;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5rem;
}
.textJeune{
    color:rgb(204, 207, 45) !important
}
@media screen and (max-width: 1024px) {
    .firtTexth1{
        font-size: 1.5rem;
    }
    .textJauneAction{
        font-size: 2rem;
    }
    .textNoireAction{
        font-size: 2rem;
    }
    .topbarimgcontainer{
        background-size: 15vw,cover;
        background-position:  50% 15%, left top;
    }
}
@media screen and (max-width: 600px) {
    .textNoireAction{
        font-size: 1.2rem !important;
        font-weight:bolder;
    }
    .firtTexth1{
        margin-left: 10%;
        margin-right: 10%;
    }
    .textJauneAction{
        font-size: 1.2rem !important;
        font-weight:bolder;
    }
    .topbarimgcontainer{
        background-size: 32vw,cover;
        background-position:  50% 25%, left top;
    }
}